.consultation {
    padding: 56px 0 58px 0;
    min-height: 400px;
    &__title {
        color: #3a3a3a;
        font-size: 28px;
        font-weight: 400;
        line-height: 23px;
        text-align: center;
    }
    &__form {
        position: relative;
        margin-top: 71px;
        padding: 68px 100px 53px 130px;
        width: 100%;
        min-height: 166px;
        border: 1px solid rgba(0, 0, 0, 0.21);
        input {
            padding-left: 25px;
            border: 1px solid rgba(0, 0, 0, 0.21);
            width: 268px;
            min-height: 45px;
            font-size: 13px;
            font-weight: 300;
            line-height: 24px;
            text-align: left;
            border-radius: 25px;
            color: rgba($color: #101010, $alpha: 0.7);
            outline: none;
        }
        &-icon {
            background-color: #fff;
            top: -38px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 130px;
            height: 100px;
        }
        &-icons {
            top: -20px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            background: #ffffff;
            border-radius: 100%;
            width: 102px;
            height: 102px;
            border: 1px solid #e93b3b;
            img {
                display: block;
                margin: 17px auto 17px auto;
            }
        }
        &-btn {
            display: block;
            bottom: -35px;
            width: 180px;
            height: 60px;
            background-color: #ffffff;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            button {
                display: block;
                margin: 0 auto;
            }
        }
    }
}