    .promo {
        min-height: 680px;
        background: url('../img/bg/plane.jpg') center (center / cover) no-repeat;
        padding: 23px 0 82px 0;
        &__header {
            display: flex;
            justify-content: center;
            .menu {
                margin: 38px 50px 0 55px;
                display: flex;
                list-style-type: none;
                &_link {
                    padding-left: 13px;
                    line-height: 16.71px;
                    text-align: left;
                    color: #ffffff;
                    font-size: 14px;
                    font-weight: 400;
                    &:hover {
                        text-decoration: none;
                        color: $main-color;
                    }
                }
                &_item {
                    border-right: 1px dotted rgba($color: #ffff, $alpha: .4);
                    padding-right: 10px;
                    height: 23px;
                    &:last-child {
                        border-right: none;
                    }
                }
            }
            .hamburger {
                display: none;
            }
            &_btn {
                margin: 21px 0 0 19px;
            }
        }
        &__contacts {
            margin-top: 25px;
            color: #ffffff;
            font-size: 14px;
            font-weight: 300;
            line-height: 24px;
            text-align: right;
            a {
                display: block;
                color: #ffffff;
                font-size: 19px;
                font-weight: 700;
                line-height: 24px;
                text-align: right;
            }
            button {
                display: none;
            }
        }
        h3 {
            margin-top: 9px;
            color: #ffffff;
            font-size: 24px;
            font-weight: 300;
            text-align: center;
        }
        &__title {
            margin-top: 26px;
            color: $main-color;
            font-size: 72px;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
        }
        &__subtitle {
            margin-top: 9px;
            color: #ffffff;
            font-family: "Roboto Condensed";
            font-size: 42px;
            font-weight: 400;
            text-align: center;
            text-transform: uppercase;
        }
        &__divider {
            margin-top: 38px;
            display: flex;
            justify-content: center;
            &_strip_left {
                width: 387px;
                height: 2px;
                background: #ffffff;
            }
            &_circle {
                width: 10px;
                height: 10px;
                background: #ffffff;
                border-radius: 100%;
                margin: 0 12px;
            }
            &_strip_right {
                width: 387px;
                height: 2px;
                background: #ffffff;
            }
        }
        &__icons {
            margin-top: 27px;
            display: grid;
            grid-template-columns: repeat(4, 260px);
            column-gap: 40px
        }
        &__icon {
            display: grid;
            grid-template-rows: repeat(64px, minmax(38px auto));
            justify-content: center;
            align-content: center;
            img {
                margin: 0 auto;
                display: block;
                margin-bottom: 19px;
            }
        }
        &__text {
            color: #ffffff;
            font-size: 16px;
            font-weight: 300;
            line-height: 22px;
            text-align: center;
        }
        &__btn {
            display: block;
            margin: 39px auto 0 auto;
            width: 230px;
            height: 57px;
            font-size: 15px;
            font-weight: 700;
            line-height: 17.35px;
        }
    }