.title {
    color: #2e2e2e;
    font-size: 26px;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    &__schema_work {
        padding-bottom: 33px;
    }
}

.subtitle {
    margin-top: 17px;
    color: #2e2e2e;
    font-size: 21px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
}

.title__main-color {
    line-height: 22px;
    text-align: left;
    color: $main-color;
    font-size: 16px;
    font-weight: 700;
}