.work {
    padding: 51px 0 57px 0;
    min-height: 620px;
    &__wrapper {
        margin-top: 37px;
        display: grid;
        grid-template-columns: repeat(3, 360px);
        justify-content: center;
        align-content: center;
        column-gap: 30px;
    }
    &__title {
        margin-top: 28px;
        line-height: 22px;
        text-align: center;
        color: $main-color;
        font-size: 18px;
        font-weight: 700;
    }
    &__text {
        margin-top: 15px;
        font-weight: 300;
        color: #3a3a3a;
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        text-align: center;
    }
}